
.navbar{
    position: fixed;
    top:0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.logo{
    position: fixed;
    left: 3rem;
    width: 130px;
}
.avatar{
    position: fixed;
    right: 3rem;
    width: 30px;
}